<!-- header page -->
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bird Spotter</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
  <div class="container">
    <!-- nav bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <i class="fas fa-kiwi-bird" style="font-size: 36px; margin-right: 5px;"></i><a href="/" class="navbar-brand">
            Bird Spotter</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <% if(!currentUser){ %>
            <a href="/birds" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Login <span class="glyphicon glyphicon-list"
                style="margin-left: 5px; font-size: 1.5rem;"></span></a>
            <ul class=" dropdown-menu">
              <li><a href="/birds">Home</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Sign Up</a></li>
              <li><a href="/users">User Profiles</a></li>
            </ul>
            <% } else { %>
            <a href="/users/<%= currentUser.id %>" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Signed In as
              <strong> <%= currentUser.username %></strong><span class="glyphicon glyphicon-list"
                style="margin-left: 5px; font-size: 1.5rem;"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/birds">Home</a></li>
              <li><a href="/logout">Log Out</a></li>
              <li><a href="/users">All Users</a></li>
            </ul>
          </li>
        </ul>
        <% } %>
      </div>
    </nav>
  </div>
  <!-- display messages -->
  <div class="container">
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %> <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
</body>

</html>