body {
  background: #e8e8e8;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.jumbotron {
  background: url(../images/parrots.jpeg);
  background-size: cover;
  color: whitesmoke;
}

.thumbnail img,
.img-thumbnail img {
  width: 100%;
}

.thumbnail,
.thumbnail-btn,
.img-thumbnail,
.caption-full {
  padding-bottom: 10px;
}

.delete-form {
  display: inline;
}

.bird-list-item {
  width: 300px;
  height: 180px;
  object-fit: cover;
  object-position: center;
}

.bird-header-slideshow {
  width: auto;
  height: 365px;
  opacity: 0.75;
  object-fit: cover;
  object-position: center;
}

.user-list-item {
  width: 50%;
  height: 25%;
  object-fit: cover;
  object-position: center;
}

.navbar_fix {
  border-radius: 5px;
}

/* Google maps div */
#map {
  height: 400px;
  width: 100%;
  border-radius: 3px;
}